<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Client settings-->
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="adtwocents.onmicrosoft.com" />
    <add key="ida:ClientId" value="d402524b-21fd-4cdd-be79-d8dec29572cb" />
    <add key="ida:RedirectUri" value="https://adtwocents.onmicrosoft.com/CalculatorClient" />

    <!-- WebAPI (service) settings -->
    <add key="ApiResourceId" value="https://adtwocents.onmicrosoft.com/CalculatorService" />
    <!-- Base address (IP 104.47.143.54) -->
    <add key="ApiBaseAddress" value="https://twocentscalculatorservice.azurewebsites.net/" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>